{% load staticfiles %}
  <footer class="page-footer cyan lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">闲置汇</h5>
          <p class="grey-text text-lighten-4">大学生自己的二手交易网站</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 南京信息工程大学传媒与艺术学院
        <a class="grey-text text-lighten-4 right" href="http://mediaandart.nuist.edu.cn/">传媒与艺术学院（官网）</a>
      </div>
    </div>
  </footer>
