{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="col-md-6 col-md-offset-3">
<p>
    {% blocktrans %}
    忘记你的密码了吗？请在下面的表格中输入您的电子邮件，我们将为您发送一个新的指令。
    {% endblocktrans %}
</p>
<form method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}
    <input type="submit" class="btn btn-block btn-info" value="{% trans '找回密码' %}" />
</form>
</div>
{% endblock %}


{# This is used by django.contrib.auth #}