{% extends "avatar/base.html" %}
{% load i18n avatar_tags %}
{% load crispy_forms_tags %}

{% block content %}
<div class="row">
    <div class="col s12 m4 l3">
        {% include 'include/settings_side.html' with active='avatar' %}
    </div>
    <div class="col s12 m8 l9">
        <p>{% trans "当前头像: " %}</p>
        {% avatar user %}
        <form enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
            {{ upload_avatar_form|crispy }}
            <p>{% csrf_token %}<input class="waves-effect waves-light btn pink lighten-1" type="submit" value="{% trans "确认上传" %}" /></p>
        </form>
    </div>
</div>
{% endblock %}
